# Data Science Tools and Ecosystem

## Author

Viviane Yvette Bola√±os Gramajo

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Create a Jupyter notebook
- Create a title using different styles heading
- Summarize Data Science Tools and Ecosystem
- List popular languages that Data Scientists use
- List commonly used libraries used by Data Scientists
- Design a table of Data Science tools
- Insert an example of an arithmetic expression
- Insert an example for time conversion

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas: For data manipulation and analysis.
2. NumPy: For numerical computing and working with arrays.
3. Matplotlib: For creating visualizations and plots.
4. Scikit-learn: For machine learning algorithms and models.
5. TensorFlow: For deep learning and neural networks.

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Spark       |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers:

In [3]:
expresion = (3 * 4) + 5
print(expresion)

17

This will convert 200 minutes to hours by diving by 60:

In [6]:
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335